@use '../styles/global';

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: global.$darker;
	color: global.$light;
}
section {
	width: 100%;
}

// Scrollbar
::-webkit-scrollbar {
	background-color: global.$dark;
	border-radius: 10px 0 0 10px;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: global.$accent;
	border-radius: 10px 0 0 10px;
	transition-duration: 200ms;
	
}
::-webkit-scrollbar-thumb:active {
	background-color: global.$accent2;
	border-radius: 10px;
}